.container {
  text-align: center;
  padding: 1rem;
  margin: 20px;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
  font-size: 64px;
}
