@import "~@angular/material/theming";
@import "../../theme/theme-variables";

$primary: mat-palette($md-primary-pallet);

:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  text-align: center;
  min-width: 64px;
  max-width: 28%;
  border: 0;
  font-family: Pacifico, cursive;
  position: fixed;
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.nav-logo {
  border-radius: 2em;
  width: 30px;
}

.menu-button {
  margin-right: 1rem;
}

.navigator {
  background: mat-color($primary, 500);
  height: 100%;

  .nav-header {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .nav-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
  }

  button {
    color: #ffffff;
  }
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-pacifico {
  font-family: Pacifico, cursive;
  font-size: 28px;
}

.top-bar {
  position: fixed;
}

.content {
  padding-top: 64px;
  width: 100%;
  height: 100%;
}